<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img style="width: 300px;height: 200px;"src="assets/img/img16.png" alt="Logo de SLee Dw">
                    <img style="width: 200px;height: 200px;" src="assets/img/img17.png" alt="Logo de SLee Dw">
                    <img style="width: 200px;height: 200px;" src="assets/img/img18.png" alt="Logo de SLee Dw">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>Directorio</h2>
            <p><b>DE JUSTICIA DE LA MUJER</b></p>
            <p class="info">Av. Rey Nayar no. 199 63190 Tepic, Nay</p>
            <p class="info">311129-50-00</p>
            <p class="info">centrodejusticiafamiliar@nayarit.gob.mx</p>

            <p><b>FISCALIA DEL ESTADO</b></p>
            <p class="info">Tecnológico No. 3200 Oriente, Ciudad Industrial, 63195 Tepic, Nay.</p>
            <p class="info">*911</p>
            <p class="info">Fiscaliageneral.nayarit.gob.mx</p>
            <p class="info">fiscaliageneral.nayarit@facebook.com</p>

            <p><b>COMISION MUNICIPAL DE LOS DERECHOS HUMANOS DE TEPIC</b></p>
            <p class="info">calle Membrillo S/n col. Comerciantes Tepic, Nay</p>
            <p class="info">311378-99-43</p>
            <p class="info">derechoshumanos@tepic.gob.mx</p>

            <p><b>CESAME</b></p>
            <p class="info">21 de Marzo S/N Av. Insurgentes Tepic, Nay</p>
            <p class="info">214-01-01 INT. CRISIS  </p>
        </div>
        <div class="box">
            <h2>Contactanos</h2>
            <div class="red-social">
                <a href="https://www.facebook.com/promexac/" class="fa fa-facebook"><img style="width: 45px; height: 45px;" src="assets/img/face.png"></a>
                <a href="https://progresoparamexico.org" class="fa fa-instagram"><img style="width: 45px; height: 45px;" src="assets/img/navegador.png"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2022 <b>Progreso para México</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>