<div class="Carousel">
    <h2 style="margin-right: 200px">Tipos de violencia</h2>
    <div class="slick-list" id="slick-list" style="margin-left: 200px;">

        <div class="slick-track" id="track">
            <div class="slick">
                <div>
                    <a href="Denuncias/Denuncias.php">
                        <h4><small>Verbal o psicológica</small>¡Informate aquí!</h4>
                        <picture>
                            <img src="assets/img/img4.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="Denuncias/Denuncias.php">
                        <h4><small>Física</small>¡Informate aquí!</h4>
                        <picture>
                            <img src="assets/img/img3.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="Denuncias/Denuncias.php">
                        <h4><small>Patrimonial</small>¡Informate aquí!</h4>
                        <picture>
                            <img src="assets/img/img5.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="slick">
                <div>
                    <a href="Denuncias/Denuncias.php">
                        <h4><small>Sexual</small>¡Informate aquí!</h4>
                        <picture>
                            <img src="assets/img/img6.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>

        </div>

    </div>

    <div class="denu">
        <a class="col" href="Denuncias/Denuncias.php">¡Denuncia aquí si haz sufrido algún tipo de abuso!</a>
    </div>
</div>