<carousel [isAnimated]="true">
  <slide>
    <img src="assets/img/img21.jpg" alt="first slide" style="display: block;height: 700px;width: 1500px;">
    <div class="carousel-caption d-none d-md-block">
      <h3> <a href="/denounce"> ¡Denuncia aquí!</a></h3>
      <p>Es anonima y Segura</p>
    </div>
  </slide>
  <slide>
    <img src="assets/img/img22.jpg" alt="second slide" style="display: block;height: 700px; width: 1500px;">
    <div class="carousel-caption d-none d-md-block">
      <h3> <a href="/denounce">¡No soportes más abusos, denuncia aquí!</a> </h3>
      <p>Denuncia de manera sencilla</p>
    </div>
  </slide>
  <slide>
    <img src="assets/img/img24.jpg" alt="third slide" style="display: block;height: 700px; width: 1500px;">
    <div class="carousel-caption d-none d-md-block">
      <h3><a href="/denounce">¡Acaba con la violencia!</a> </h3>
      <p>Suelta esas cadenas y liberate</p>
    </div>
  </slide>
</carousel>
<br>


<alert type="info">
    <strong><h2 style="margin-left: 550px">Tipos de violencia</h2></strong>
</alert>

<div class="Carousel">
    <div class="slick-list" id="slick-list" style="margin-left: 50px;">
        <mat-sidenav-container class="example-container" >
        <mat-sidenav #sidenav mode="side">
            <p  style="text-align:justify;">
              <b> La violencia física</b>
              es aquella acción<br>
              generada de manera voluntaria y que<br>
              por lo mismo ocasiona daños no<br>
              accidentales, utilizando la fuerza<br>
              física o material (es decir, sirviéndose<br>
              de objetos) y que tiene como fin<br>
              fundamental generar un impacto directo<br>
              en el cuerpo y consecuencias físicas<br>
              tanto externas como internas.<br>
              <b>Violencia Física incluye: <br></b>
            </p>
              <ul>
                <li>Bofetadas</li>
                <li>Manotazos</li>
                <li>Palizas</li>
                <li>Forcejeos</li>
              </ul>
              
            
        </mat-sidenav>

        <mat-sidenav-content>
          <div class="slick-track" id="track">
            <div class="slick">
                <div>
                    <a mat-button (click)="sidenav.toggle()">
                        <h4><small>Física</small>¡Informate aquí!</h4>
                        <picture>
                            <img src="assets/img/img3.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            </div>
          <div class="example-events">
            <div></div>
          </div>
        </mat-sidenav-content>

      </mat-sidenav-container>
      
      <mat-sidenav-container class="example-container" >
        <mat-sidenav #sidenav2 mode="side">
          <p style="text-align:justify;">
            <b>La violencia verbal, emocional y/o<br>
              psicológica</b>
             hace referencia al<br>
            hostigamiento verbal a través de<br>
            insultos, críticas permanentes,<br>
            comentarios hirientes y humillaciones;<br>
            incluye conductas de desvalorización,<br>
            gestos displicentes, ridiculización,<br>
            aislamiento, celos, y posesividad,<br>
            es decir, las agresiones verbales<br>
            son una forma de violencia<br>
            psicológica y/o emocional.<br>

            <b>Violencia verbal o psicologica <br> incluye: <br></b>
          </p>
          <ul>
            <li>Amenaza</li>
            <li>Chantaje</li>
            <li>Insultos</li>
            <li>Gritos</li>
            <li>Burlas</li>
          </ul>
          
        </mat-sidenav>

        <mat-sidenav-content>
          <div class="slick-track" id="track">
            <div class="slick">
                <div>
                    <a mat-button (click)="sidenav2.toggle()">
                        <h4><small>Verbal o psicológica</small>¡Informate aquí!</h4>
                        <picture>
                            <img src="assets/img/img4.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            </div>
          <div class="example-events">
            <div></div>
          </div>
        </mat-sidenav-content>
        
      </mat-sidenav-container>
      <mat-sidenav-container class="example-container" >
        <mat-sidenav #sidenav3 mode="side">
            <p  style="text-align:justify;">
              <b>Violencia Patrimonial</b> <br>
              Es un tipo de violencia referente<br>
              a un acto u omisión que afecta la<br>
              supervivencia de la víctima. Se<br>
              manifiesta en la transformación,<br>
              sustracción, destrucción o retención<br>
              de objetos, documentos personales,<br>
              bienes y valores, derechos patrimoniales<br>
              o recursos económicos destinados a<br>
              satisfacer sus necesidades y puede<br>
              abarcar daños a los bienes comunes<br>
              o propios de la víctima.<br>
              <b>Violencia Patrimonial incluye: <br></b>

            </p>
            <ul>
              <li>Desrtrucción de documentos</li>
              <li>Apropiación de pensión</li>
              <li>Prohibición de pertenencias</li>
              <li>Destrucción de patrimonio</li>
              <li>Amenazas o manipalaciones materiales</li>
            </ul>
        </mat-sidenav>

        <mat-sidenav-content>
          <div class="slick-track" id="track">
            <div class="slick">
                <div>
                    <a mat-button (click)="sidenav3.toggle()">
                        <h4><small>Patrimonial</small>¡Informate aquí!</h4>
                        <picture>
                            <img src="assets/img/img5.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            </div>
          <div class="example-events">
            <div></div>
          </div>
        </mat-sidenav-content>
        
      </mat-sidenav-container>

      <mat-sidenav-container class="example-container" >
        <mat-sidenav #sidenav4 mode="side">
            <p>
              
              <b>La violencia sexual</b> es todo acto<br>
              intencional de naturaleza sexual<br>
              que es forzado en otra persona,<br>
              sin importar su relación, mediante<br>
              fuerza física, coerción,<br>
              intimidación, humillación, causando<br>
              o tomando ventaja de la intoxicación<br>
              por drogas o alcohol de otra persona,<br>
              o tomando ventaja de la inhabilidad<br>
              de otra persona para dar consentimiento.<br>
              <b>Violencia sexual incluye: <br></b>

            </p>
            <ul>
              <li>Violación</li>
              <li>Toqueteo indeseado</li>
              <li>Acoso sexual</li>
              <li>Acosamiento</li>
              <li>Comentarios sexuales no deseados</li>
            </ul>
        </mat-sidenav>

        <mat-sidenav-content>
          <div class="slick-track" id="track">
            <div class="slick">
                <div>
                    <a mat-button (click)="sidenav4.toggle()">
                        <h4><small>Sexual</small>¡Informate aquí!</h4>
                        <picture>
                            <img src="assets/img/img6.jpg" alt="Image">
                        </picture>
                    </a>
                </div>
            </div>
            </div>
          <div class="example-events">
            <div></div>
          </div>
        </mat-sidenav-content>
        
      </mat-sidenav-container>
    </div>
</div>
<br>