<mat-tab-group>
    <mat-tab label="Denuncias">
        <div class="bloque">
            <div class="container">
                <div class="row justify-content-end">
                    <br>
                    <div class="col-12">
                        <!-- <button mat-button color="primary" class="botons" (click)="showAddSchoolGrade()">Agregar Nivel Educativo</button> -->
                    </div>
                    <div class="col-12">
                        <table>
                            <thead>
                                <tr>
                                    <th>Instituto</th>
                                    <th>Nivel de Educación</th>
                                    <th>Sexo Victima</th>
                                    <th>Edad Victima</th>
                                    <th>Tipo de Violencia</th>
                                    <th>Cuando ocurrio</th>
                                    <th>Fecha de la denuncia</th>
                                    <!-- <th>Acciones</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let denounce of denounces">
                                    <td>{{denounce?.instituteId?.name}} - {{denounce?.careerId?.name}}</td>
                                    <td>{{denounce?.instituteId?.schoolGrade}}</td>
                                    <td>{{denounce?.victimId?.gender}}</td>
                                    <td>{{denounce?.victimId?.age}}</td>
                                    <td>{{denounce?.violenceType}}</td>
                                    <td>{{denounce?.timeSinceIncident}}</td>
                                    <td>{{denounce?.createdAt}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Institución">
        <div class="bloque">
            <div class="container">
                <div class="row justify-content-end">
                    <br>
                    <div class="col-12">
                        <!-- <button mat-button color="primary" class="botons" (click)="showAddSchoolGrade()">Agregar Nivel Educativo</button> -->
                    </div>
                    <div class="col-12">
                        <table>
                            <thead>
                                <tr>
                                    <th>Instituto</th>
                                    <th>Nivel de Educación</th>
                                    <th>Numero de denuncias</th>
                                    <!-- <th>Acciones</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let denounce of denouncesByInstitute">
                                    <td>{{denounce?.instituteId?.name}}</td>
                                    <td>{{denounce?.instituteId?.schoolGrade}}</td>
                                    <td>{{denounce?.count}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab> 
    <mat-tab label="Carrera">
        <div class="bloque">
            <div class="container">
                <div class="row justify-content-end">
                    <br>
                    <div class="col-12">
                        <!-- <button mat-button color="primary" class="botons" (click)="showAddSchoolGrade()">Agregar Nivel Educativo</button> -->
                    </div>
                    <div class="col-12">
                        <!-- by careerId -->
                        <table>
                            <thead>
                                <tr>
                                    <th>Carrera</th>
                                    <th>institución</th>
                                    <th>Numero de denuncias</th>
                                    <!-- <th>Acciones</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let denounce of denouncesByCareer">
                                    <td>{{denounce?.careerId?.name}}</td>
                                    <td>{{denounce?.instituteId?.name}}</td>
                                    <td>{{denounce?.count}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
<!-- By Aggressor -->
    <mat-tab label="Agresor">
        <div class="bloque">
            <div class="container">
                <div class="row justify-content-end">
                    <br>
                    <div class="col-12">
                        <!-- <button mat-button color="primary" class="botons" (click)="showAddSchoolGrade()">Agregar Nivel Educativo</button> -->
                    </div>
                    <div class="col-12">
                        <!-- by aggressorId -->
                        <table>
                            <thead>
                                <tr>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>institución</th>
                                    <th>Numero de denuncias</th>
                                    <!-- <th>Acciones</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let denounce of denouncesByAggressor">
                                    <td>{{denounce?.aggressorId?.name}}</td>
                                    <td>{{denounce?.aggressorId?.lastName}}</td>
                                    <td>{{denounce?.instituteId?.name}}</td>
                                    <td>{{denounce?.count}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <!-- By Violence Type -->
    <mat-tab label="Tipo de Violencia">
        <div class="bloque">
            <div class="container">
                <div class="row justify-content-end">
                    <br>
                    <div class="col-12">
                        <!-- <button mat-button color="primary" class="botons" (click)="showAddSchoolGrade()">Agregar Nivel Educativo</button> -->
                    </div>
                    <div class="col-12">
                        <!-- by violenceType -->
                        <table>
                            <thead>
                                <tr>
                                    <th>Tipo de Violencia</th>
                                    <th>Institución</th>
                                    <th>Numero de denuncias</th>
                                    <!-- <th>Acciones</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let denounce of denouncesByViolenceType">
                                    <td>{{denounce?.violenceType}}</td>
                                    <td>{{denounce?.instituteId?.name}}</td>
                                    <td>{{denounce?.count}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <!-- By School Grade -->
    <mat-tab label="Nivel Educativo">
        <div class="bloque">
            <div class="container">
                <div class="row justify-content-end">
                    <br>
                    <div class="col-12">
                        <!-- <button mat-button color="primary" class="botons" (click)="showAddSchoolGrade()">Agregar Nivel Educativo</button> -->
                    </div>
                    <div class="col-12">
                        <!-- by schoolGrade -->
                        <table>
                            <thead>
                                <tr>
                                    <th>Nivel Educativo</th>
                                    <!-- <th>Institución</th> -->
                                    <th>Numero de denuncias</th>
                                    <!-- <th>Acciones</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let denounce of denouncesBySchoolGrade">
                                    <td>{{denounce?.schoolGrade}}</td>
                                    <!-- <td>{{denounce?.instituteId?.name}}</td> -->
                                    <td>{{denounce?.count}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <!-- By Sexo Victima-->
    <mat-tab label="Sexo Victima">
        <div class="bloque">
            <div class="container">
                <div class="row justify-content-end">
                    <br>
                    <div class="col-12">
                        <!-- <button mat-button color="primary" class="botons" (click)="showAddSchoolGrade()">Agregar Nivel Educativo</button> -->
                    </div>
                    <div class="col-12">
                        <!-- by victimId -->
                        <table>
                            <thead>
                                <tr>
                                    <th>Sexo Victima</th>
                                    <th>Institución</th>
                                    <th>Numero de denuncias</th>
                                    <!-- <th>Acciones</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let denounce of denouncesByVictimGender">
                                    <td>{{denounce?.victimId?.gender}}</td>
                                    <td>{{denounce?.instituteId?.name}}</td>
                                    <td>{{denounce?.count}}</td>
                                </tr>
                                </tbody>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>


</mat-tab-group>