<div>
    <h2>Acerca de nosotros</h2>
</div>
<div class="Carousel">
    
    <div class="slick-list" id="slick-list" style="margin-left: auto; margin-right: auto;">
    
        <div class="slick-track" id="track">
            <div class="slick2">
                <div>
                    
                    <picture>
                        <img style="margin-left: 200px;" width="200" height="200" src="assets/img/img-f.jpg" alt="Image">
                    </picture>
                    <p style="color:black">Somos un equipo multidisciplinario, multicultural; siendo conformada mayoritariamente por mujeres, jóvenes de diversas disciplinas de las áreas sociales</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <h2>Objetivos</h2>
</div>

<div class="Carousel">
    
    <div class="slick-list" id="slick-list" style="margin-left: auto; margin-right: auto;">
    
        <div class="slick-track" id="track">
            <div class="slick2">
                <div>
                    
                    <picture>
                        <img style="margin-left: 200px;" width="200" height="200" src="assets/img/img-s.jpg" alt="Image">
                    </picture>
                    <p style="color:black">Atención y apoyo a personas que se vean impedidas para satisfacer sus necesidades básicas de subsistencia</p>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="Carousel">
    
    <div class="slick-list" id="slick-list" style="margin-left: auto; margin-right: auto;">
    
        <div class="slick-track" id="track">
            <div class="slick">
                <div>
                    
                    <picture>
                        <img style="margin-left: 35px;" width="200" height="200" src="assets/img/img-p.jpg" alt="Image">
                    </picture>
                    <p style="color:black">Promover la participación ciudadana con la finalidad de construir una sociedad justa, igualitaria y sustentable.</p>
                </div>
            </div>
        </div>
        <div class="slick-track" id="track">
            <div class="slick">
                <div>
                    
                    <picture>
                        <img style="margin-left: 35px;" width="200" height="200" src="assets/img/img-dh.jpg" alt="Image">
                    </picture>
                    <p style="color:black">Desarrollar acciones bajo una perspectiva de derechos, equidad, igualdad, seguridad social, cultura, artes, educación ambiental.</p>
                </div>
            </div>
        </div>
        <div class="slick-track" id="track">
            <div class="slick">
                <div>
                    
                    <picture>
                        <img style="margin-left: 35px;" width="200" height="200" src="assets/img/img-c.jpg" alt="Image">
                    </picture>
                    <p style="color:black">Diseñar, implementar, gestionar y coordinar programas de intervención, capacitación, producción artística y cultural.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="Carousel">
    
    <div class="slick-list" id="slick-list" style="margin-left: auto; margin-right: auto;">
    
        <div class="slick-track" id="track">
            <div class="slick">
                <div>
                    
                    <picture>
                        <img style="margin-left: 35px;" width="200" height="200" src="assets/img/img-i.jpg" alt="Image">
                    </picture>
                    <p style="color:black">Elaborar propuestas de intervención social, desarrollo sustentable, igualdad de género, política social y de derechos.</p>
                </div>
            </div>
        </div>
        <div class="slick-track" id="track">
            <div class="slick">
                <div>
                    
                    <picture>
                        <img style="margin-left: 35px;" width="200" height="200" src="assets/img/img-ds.JPG" alt="Image">
                    </picture>
                    <p style="color:black">Realizar acciones que favorezcan el desarrollo social, medio ambiental y la paz con un enfoque de respeto.</p>
                </div>
            </div>
        </div>
        <div class="slick-track" id="track">
            <div class="slick">
                <div>
                    
                    <picture>
                        <img style="margin-left: 35px;" width="200" height="200" src="assets/img/img-gp.jpg" alt="Image">
                    </picture>
                    <p style="color:black">Promoción, defensa, formación, organización y capacitación para el cumplimiento de los derechos de grupos prioritarios.</p>
                </div>
            </div>
        </div>
    </div>
</div>