ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 94%;
    margin-left: 3%;
}

li {
  float: left;
  border-right:1px solid #bbb;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

li:last-child {
  border-right: none;
  border-radius: 15px;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 15px;

}

li a:hover:not(.active) {
  background-color: #111;
  border-radius: 15px;

}

.active {
  background-color: rgb(151, 226, 174);
  border-radius: 15px;

}