<mat-toolbar color="primary">
    <span><a mat-raised-button color="green" routerLink="/">Home</a></span>
    <span><a mat-button routerLink="/denounce">Denuncias</a></span>
    <span><a mat-button routerLink="/about">Acerca de nosotros</a></span>
    <span><a mat-button routerLink="/violence" *ngIf="userSession && (admin || super)">Violencia</a></span>
    <div class="spacer"></div>
    <span style="float:right" *ngIf="!userSession"><a mat-button routerLink="/login">Login</a></span>
    <span style="float:right" *ngIf="userSession && super"><a mat-button routerLink="/settings">Configuraciones</a></span>
    <span style="float:right" *ngIf="userSession"><a mat-button (click)="onLogout()">LogOut</a></span>
</mat-toolbar>