<form>
<div class="contenedor">
    <ul class="ul">
        <li class="li activo">Tipo de violencia</li>
        <li class="li">Sexo</li>
        <li class="li">Nivel de educación</li>
    </ul>

    <div class="subcontenedor">
        <div style="margin-left:20%;" class="bloque activo">
            <div  id="main-container">
                <table >
                    <thead>
                        <tr>
                            <th>Institución</th><th>Nivel de educación</th><th>Lugar del incidente</th><th>Agresor</th><th>Tipo de Violencia</th><th>Descripción</th><th>Sexo</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div style="margin-left:20%;" class="bloque">
                <div  id="main-container">
                    <table >
                        <thead>
                            <tr>
                                <th>Institución</th><th>Nivel de educación</th><th>Lugar del incidente</th><th>Agresor</th><th>Tipo de Violencia</th><th>Descripción</th><th>Sexo</th>
                            </tr>
                        </thead>
                    </table>
                </div>
        </div>
        <div style="margin-left:20%;" class="bloque">
            <div  id="main-container">
                <table >
                    <thead>
                        <tr>
                            <th>Institución</th><th>Nivel de educación</th><th>Lugar del incidente</th><th>Agresor</th><th>Tipo de Violencia</th><th>Descripción</th><th>Sexo</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
</form>