
        <mat-tab-group>
            <mat-tab label="Nivel Educativo"> 
                <div  class="bloque">
                    <div  id="main-container">
                        <table >
                            <thead>
                                <tr>
                                    <th>Institución</th><th>Nivel de educación</th><th>Lugar del incidente</th><th>Agresor</th><th>Tipo de Violencia</th><th>Descripción</th><th>Sexo</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Tipo de Violencia">
                <div  class="bloque">
                    <div  id="main-container">
                        <table >
                            <thead>
                                <tr>
                                    <th>Institución</th><th>Nivel de educación</th><th>Lugar del incidente</th><th>Agresor</th><th>Tipo de Violencia</th><th>Descripción</th><th>Sexo</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Sexo">
                <div  class="bloque">
                    <div  id="main-container">
                        <table >
                            <thead>
                                <tr>
                                    <th>Institución</th><th>Nivel de educación</th><th>Lugar del incidente</th><th>Agresor</th><th>Tipo de Violencia</th><th>Descripción</th><th>Sexo</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </mat-tab>
          </mat-tab-group>



